<section class="login">
  <form [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
        fxLayoutGap="12px">
    <mat-form-field>
      <input type="email"
            matInput
            placeholder="Your email"
            formControlName="email">
      <mat-error *ngIf="!loginForm.get('email').valid">
        Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"
             matInput
             placeholder="Your password"
             formControlName="password">
      <mat-error *ngIf="!loginForm.get('password').valid">
        Should not be empty</mat-error>
    </mat-form-field>
    <button class="login__btn"
            *ngIf="!(isLoading$ | async)"
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid">
      Login</button>
      <mat-spinner *ngIf="isLoading$ | async"
                   class="login__spinner">
      </mat-spinner>
  </form>
</section>
