<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="header__logo" routerLink="/">Fitness Tracker</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="header__menu">
      <li *ngIf="!isAuth">
        <a class="header__link" routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!isAuth">
        <a class="header__link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth">
        <a class="header__link" routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth">
        <a class="header__link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
